## RDKit Tutorial, October 2020, Bender Group

In this tutorial we will cover basic functionalities of RDKit and Jupyter Notebooks.

You should have followed the instructions outlined in the "Getting Started with RDKit.pdf" file.

First, click on this "cell" and see that it is a "Markdown" cell. This means that here you can write text to explain and document your code.

Now, click on the next cell and notice it says "Code"

In [1]:
# Import packages
# (to annotate in a "code" cell you must use a hash symbol)
import pandas as pd
import numpy as np

With Jupyter notebooks it is easy to perform exploratory analysis and test your code. For example, say you are creating a function to add 2 to an input number...

In [2]:
# declare new function
def add_two(num):
    print(num+3)

In [3]:
# apply the function
add_two(5)

8

Hmm, looks like there's something wrong here. Instead of having to diagnose the issue, attempt to fix it and run the entire script again, we can simply modify and run just a couple of cells, separately from the rest of the notebook.

In [4]:
# declare new function
def add_two(num):
    print(num+2)

In [5]:
# apply the function
add_two(5)

7

That was easy!

With Jupyter notebooks you can also display dataframes to ensure that everything is as it should be

In [6]:
# create a df
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [7]:
# display df
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# display first two rows of df
df.head(2)

   a  b  c
0  1  2  3
1  4  5  6

You can also display images and do a bunch of other cool stuff, but we will explore these as we go through the RDKit tutorial

### Getting Started With RDKit

All material is from here https://www.rdkit.org/docs/GettingStartedInPython.html which gives a nice overview of RDKit functionalities. Thus, I give full credit to the RDKit authors and don't try to claim this tutorial as my own! (I just put it into a Jupyter notebook...)

Most of the RDKit functionality is in the module rdkit.Chem. Let's import it!

In [ ]:
from rdkit import Chem